.main-wrapper {
  @extend %flxrow;
  align-items: stretch;
  width: 100%;
  min-height: 1200px;

  main {
    @extend %flxcol;
    width: 100%;

    section {
      @extend %flxrow;
      width: 100%;

      article {
        @extend %flxcol;
        max-width: 300px;

        p {
          padding: 10px;
          text-align: center;
        }
      }
    }
  }

  aside {
    @extend %flxcol;

    @media only screen and (max-width: $breakpoint2) {
      display: none;
    }
    @media only screen and (min-width: $breakpoint2) {
      width: 300px;
    }
  }
}