@import 'palette';

/* --------------- THEME PALETTE ---------------*/
$light-color1: #ee9b00ff;
$light-color2: #bb3e03ff;
$light-color3: #0466c8ff;
$light-color4: #023e7dff;
$light-color5: #33415cff;
$dark-color1: #9b2226ff;
$dark-color2: #38040eff;
$dark-color3: #023e7dff;
$dark-color4: #002855ff;
$dark-color5: #33415cff;

$theme-light: (
  container: (
    bg: #e4ada7,
    colour: #000,
    border-colour: #000
    ),
  button: (
    bg: #481b16,
    colour: #fff
    )
);