/* --------------- COLOR PALETTE ---------------*/
$vanilla: #e9d8a6ff;
$gamboge: #ee9b00ff;
$alloy-orange: #ca6702ff;
$rust: #bb3e03ff;
$rufous: #ae2012ff;
$auburn: #9b2226ff;
$rosewood: #640d14ff;
$black-bean-2: #38040eff;
$black-bean: #250902ff;
$true-blue: #0466c8ff;
$sapphire: #0353a4ff;
$yale-blue: #023e7dff;
$oxford-blue: #002855ff;
$oxford-blue-2: #001845ff;
$oxford-blue-3: #001233ff;
$delft-blue: #33415cff;
$paynes-gray: #5c677dff;
$slate-gray: #7d8597ff;
$cool-gray: #979dacff;
$white: #ffffff;
$black: #000000;