$theme-dark: (
  '.banner-wrapper': (
    bg: none,
    textcolor: none,
    bdr: none,
  ),
  header: (
    bg: $oxford-blue,
    textcolor: white,
    bdr: none,
  ),
  nav: (
    bg: $yale-blue,
    textcolor: none,
    bdr: none,
  ),
  '.main-wrapper': (
    bg: $cool-gray,
    textcolor: none,
    bdr: none,
  ),
  aside: (
    bg: $paynes-gray,
    textcolor: black,
    bdr: 2px solid black,
  ),
  '.aside-button': (
    bg: $white,
    textcolor: $black,
    bdr: 2px solid white,
  ),
  main: (
    bg: none,
    textcolor: none,
    bdr: none,
  ),
  section: (
    bg: $cool-gray,
    textcolor: black,
    bdr: 2px solid black,
  ),
  article: (
    bg: $cool-gray,
    textcolor: black,
    bdr: 2px solid black,
  ),
  '.footer-wrapper': (
    bg: none,
    textcolor: none,
    bdr: none,
  ),
  footer: (
    bg: white,
    textcolor: black,
    bdr: 2px solid black,
  ),
  '.search-bar': (
    bg: skyblue,
    textcolor: white,
    bdr: none,
  ),
  '.login-form': (
    bg: $true-blue,
    textcolor: white,
    bdr: none,
  ),
  '.nav-button': (
    bg: $sapphire,
    textcolor: $white,
    bdr: none,
    hover: $true-blue,
  ),
  '.nav-button-selected': (
    bg: $true-blue,
    textcolor: $white,
    bdrb: 2px solid $white,
  )
);